<script>
const customerFormData = {
    id: {
      id: "id",
      label: "ID",
      type: "text",
      value: null,
      disabled: true,
    },
    organizacion: {
      id: "organizacion",
      label: "organizacion",
      type: "text",
      value: null,
    },
    sector: {
      id: "sector",
      label: "sector",
      type: "select",
      value: null,
      options: ["Politicas Publicas", "Socio comunitario", "Productivo", "Academico"]
    },
    ministerio: {
      id: "ministerio",
      label: "ministerios",
      type: "select",
      value: null,
      options: ["Politicas Publicas", "Socio comunitario", "Productivo", "Academico"]
    },
    cuit: {
      id: "cuit",
      label: "cuit",
      type: "text",
      value: null,
    },
    nombre_contacto: {
      id: "nombre_contacto",
      label: "nombre_contacto",
      type: "text",
      value: null,
    },
    cargo_contacto: {
      id: "cargo_contacto",
      label: "cargo_contacto",
      type: "text",
      value: null,
    },
    mail_contacto: {
      id: "mail_contacto",
      label: "mail_contacto",
      type: "text",
      value: null,
    },
    orientacion: {
      id: "orientacion",
      label: "orientaciones",
      type: "select",
      value: null,
      options: ["Politicas Publicas", "Socio comunitario", "Productivo", "Academico"]
    },
    cupos: {
      id: "cupos",
      label: "cupos",
      type: "text",
      value: null,
    },
    turno: {
      id: "turno",
      label: "turno",
      type: "select",
      value: null,
      options: ["Turno Mañana", "Turno Tarde", "Turno Vespertino"]
    },
    tad: {
      id: "tad",
      label: "tad",
      type: "text",
      value: null,
    },
    fecha: {
      id: "fecha",
      label: "fecha",
      type: "text",
      value: null,
    },
  }

  const vInput = Vue.component("v-input", {
    props: {
      item: Object,
      // item = {id: "name", label: "Name", placeholder: "Enter the client name"}
    },
    template: `
      <div>
        <label 
          :for="item.id" 
          class="form-label">{{item.label}}</label>
        <select 
          v-if="item.type === 'select'"
          v-model="item.value" 
          class="form-control form-select" 
          :id="item.id" 
          :disabled="item.disabled"
        >
          <option v-for="(option, index) in item.options" :key="index" :value="option">{{option}}</option>
        </select>
        <textarea 
          :rows="item.rows"
          v-else-if="item.type === 'textarea'"
          v-model="item.value" 
          class="form-control" 
          :id="item.id" 
          :disabled="item.disabled"
          :placeholder="item.placeholder"
          ></textarea>
        <input 
          v-else
          :type="item.type"
          v-model="item.value" 
          class="form-control" 
          :id="item.id" 
          :placeholder="item.placeholder"
          :disabled="item.disabled"
          >
      </div>
    `
  })

  const customerForm = Vue.component("customer-form", {
    components: {
      "v-input": vInput,
    },
    props: {
      form: Object,
      loading: Boolean,
      mode: String, // create/update/delete
    },
    created(){
      if (this.loading === true) {
        Object.keys(this.form).forEach(key => this.form[key].disabled = true)
      }
    },
    template: `
    <div class="modal fade" id="newCustomerForm" tabindex="-1" aria-labelledby="newCustomerFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
      <form @submit.prevent="$emit('submit')">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newCustomerFormLabel">{{ mode }} Customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body row">
              <div class="col-12 col-sm-4 mb-3" v-if="form.id.value">
                <v-input :item="form.id" />
              </div>
              <div class="col-12 col-sm-8 mb-9" v-if="form.id.value">
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.organizacion" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.sector" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.ministerio" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.cuit" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.nombre_contacto" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.cargo_contacto" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.mail_contacto" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.orientacion" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.cupos" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.turno" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.tad" />
              </div>
              <div class="col-12 col-sm-4 mb-3">
                <v-input :item="form.fecha" />
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" :disabled="loading">{{ mode }} Customer</button>
          </div>
        </div>
      </form>
      </div>
    </div>
      
    `
  })


</script>













